<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{160,216}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{474,0},{160,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{116,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{1016,0},{116,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{776,0},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-23}</string>
                <key>spriteSize</key>
                <string>{120,222}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{1132,0},{120,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-23}</string>
                <key>spriteSize</key>
                <string>{142,228}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{634,0},{142,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{174,0},{150,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{174,218}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{174,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-13}</string>
                <key>spriteSize</key>
                <string>{150,234}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{324,0},{150,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-24}</string>
                <key>spriteSize</key>
                <string>{116,222}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{1132,120},{116,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-22}</string>
                <key>spriteSize</key>
                <string>{120,234}</string>
                <key>spriteSourceSize</key>
                <string>{220,320}</string>
                <key>textureRect</key>
                <string>{{896,0},{120,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>person_1.png</string>
            <key>size</key>
            <string>{1354,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cee8fc063bd084a92a7c7c9280fa165:2fb13b8bb2b809be0c2b9278df560e27:8e5ec321a7319bd7aedad71a05f5e3d9$</string>
            <key>textureFileName</key>
            <string>person_1.png</string>
        </dict>
    </dict>
</plist>
